/* font */

// $font-heading: "Roboto Slab" !default;
$font-mono: "Roboto Mono" !default;
$font-family-mono: $font-mono, Menlo, Monaco, "Courier New", "Courier", monospace !default;

/* editor */

.editor-container {
  background: #fff;
  
  font-family: $font-family-mono;
  font-size: 18px;
  line-height: 1.8;
  
  display: flex;
  
  .doc-editor {
    padding: 12px;
    width: 50%;
  }

  .input-editor {
    background: #FFFFFF;
  }

  .result-editor {
    background-color: #eee;
  }
}

.editor-code {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  &:focus {outline: none;}
}