/* base/layout */

.doc-page-container {
  padding: 0 40px;
}

/* doc page */

.doc-title-container {
  .doc-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 6px;
  }

  .doc-title-heading {
    padding: 0;
    margin: 0;
  }

  .doc-title-heading, .doc-action {
    display: inline-block;
  }

  .doc-action {
    padding-left: 6px;
  }

  .edit-link {}
  .delete-link {}

  .doc-title-heading, .title-input {
    font-size: 22px;
    font-weight: bold;
  }

  .input {
    margin-bottom: 6px;
  }

  .input .title-input {
    padding: 5px;
  }
}

/* table */

.doc-table-container {
  min-height: 60vh;
}

.doc-table {
  // from semantic-ui (temp)
  width: 100%;
  background: #FFFFFF;
  // margin: 1em 0em;
  box-shadow: none;
  // border-radius: 0.28571429rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: none;

  border-collapse: separate;
  border-spacing: 0px;

  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  // font-family: $font-family-mono;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);

  $row-font-size: 18px;
  $row-font-weight: normal;

  $row-pad-top: 10px;
  $row-pad-side: 8px;

  .doc-table-row {}

  td { 
    // border-bottom: 1px solid rgba(34,36,38,.1);
    font-size: $row-font-size;
    font-weight: $row-font-weight;
  }

  .row-input {
    text-align: center;

    input {
      width: 99%;
      padding: $row-pad-top $row-pad-side; 
      border: none;
      font-size: $row-font-size;
      font-weight: $row-font-weight;
      // font-family: $font-family-mono;

      &:focus {
        outline: none;
      }
    }
  }

  .row-expression {
    text-align: left;
  }

  .row-result {
    background: lighten(#e0e0e0, 5%);
    border-left: 1px solid rgba(38, 38, 38, 0.15);
    text-align: left;
    padding: $row-pad-top ($row-pad-side * 2); 
  }

  .mode-calculation {}

  .mode-comment {
    input {opacity: 0.4;}
  }

  .mode-invalid {
    input {color: red;}
  }
}